sortable-grid {
    #sortable {
        border:1px solid #dedede;
        border-radius:4px;
        box-shadow: none;
        padding:8px;
        margin:16px 0;
        width:100%;
        .sortable-element-placeholder,
        .sortable-element,
        .add-element {
            float:left;
            padding:8px;
            width:25%;
            height:76px;
            span {
                display: inline-block;
                width:100%;
                height:100%;
                display:flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                border-radius:2px;
                background: #dedede;
            }
        }
        .sortable-element-placeholder {
            background: #FFF;
            position:relative;
            &:after {
                content:'';
                position:absolute;
                left:8px;
                right:8px;
                top:8px;
                bottom:8px;
                border:1px dashed #dedede;
            }
        }
        .add-element {
            background: none;
            span {
                border:1px dashed #dedede;
                background:none;
            }
        }
        .clearfix {
            clear:both;
        }
    }
}
@media (min-width: 420px) and (max-width: 767px) {
    sortable-grid #sortable {
        .sortable-element-placeholder,
        .sortable-element,
        .add-element {
            width:16.6%;
            height:92px;
        }
    }
}
@media (min-width: 768px) and (max-width: 1023px) {
    sortable-grid #sortable {
        .sortable-element-placeholder,
        .sortable-element,
        .add-element {
            width:12.5%;
            height:92px;
        }
    }
}
@media (min-width: 1024px) {
    sortable-grid #sortable {
        .sortable-element-placeholder,
        .sortable-element,
        .add-element {
            width:10%;
            height:108px;
        }
    }
}